@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

            <div style="text-align: center;">
                <img src="BASF.png" height=414px; />
                <h1>Verifiable Credential Issuance and Verifier Demo</h1>
                <h1>OnBoarding VC Demo User Case</h1>
        
                <button type="button" id="idIssue" class="button">GET CREDENTIAL</button>
                <button type="button" id="idVerify" class="button">VERIFY CREDENTIAL</button><br><br><br>
                <button type="button" id="" class="button">ONBOARDING VC DEMO</button>
                <script>
                        var idIssue = document.getElementById('idIssue');
                        var idVerify = document.getElementById('idVerify');
                        
                        idIssue.addEventListener('click', () => {
                            window.location = "issuer";
                        })
                        idVerify.addEventListener('click', () => {
                            window.location = "verifier";
                        })                        
                    </script>
            </div>
